body {
  background-color: #f7fde7;
  font-family: "Ubuntu Mono", ui-sans-serif, system-ui, sans-serif;
}

a {
  color: #65a30d;
}

a:hover {
  color: #885df1;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

.form-container {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 50px;
}

form {
  display: flex;
}

.example {
  line-height: 1.5;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 10px;
}

.form-entry {
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  width: 80%;
  border: 1px solid rgba(39, 33, 66, 0.5);
}

.submit-button {
  margin-left: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  background: #65a30d;
  color: white;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 100px;
}

.submit-button:hover {
  background: white;
  color: #65a30d;
  cursor: pointer;
}

.poetry {
  font-size: 15px;
  background: white;
  padding: 30px;
  line-height: 2;
  border-radius: 3px;
  border-left: 4px solid #65a30d;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}
